/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

/* Components */ 
@import "header.css";
@import "buttons.css";

/* Reset Css */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    vertical-align: baseline;
    text-decoration: none; /*todos os meus texxtos não  terão linha embaixo dos links e etc... */ 
}

.container{
    width: 1024px;
    margin: 30px auto; /* Centraliza na tela*/
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
} 